label {
        display: block;
    }
    
    .radios, .checkbox, .price, .avia {
        padding-left: 50px;
        padding-right: 20px;
    }
    
    .filters {
        position: absolute;
        margin: 0 0 0 70px;
        height: 700px;
        background-color: #aeaeae;
    }
    